@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #1195dc;
  --secondary-color: #f1f1f1;
  --transition-duration: all 0.5s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #000;
  font-size: 100%;
  overflow-x: hidden;
  color: var(--secondary-color);
}

.interface {
  padding: 0 7%;
}

.flex {
  display: flex;
}

.primary-color {
  color: var(--primary-color);
}

button {
  border: none;
}

.btn button {
  background: var(--primary-color);
  padding: 15px 30px;
  border-radius: 50px;
  font-size: 1.3rem;
  letter-spacing: 1px;
  transition: var(--transition-duration);
  cursor: pointer;
  font-weight: 600;
}

.btn button:hover {
  transform: scale(1.1);
  color: var(--secondary-color);
  box-shadow: 0px 0px 15px #0056b3;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
