/* Header */

header {
  background: #000;
  padding: 20px 7%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
}

nav {
  max-width: 1280px;
  height: 70px;
  margin-inline: auto; /* equivalente a margin left e right*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 32px;
}

.nav-list a {
  font-size: 20px;
  color: var(--secondary-color);
  padding-block: 16px; /* equivalente a top e bottom. mesma coisa com o margin*/
}

.logo img {
  width: 48px;
}

header nav .logo-nav img {
  max-width: 45px;
  transition: all 0.3s ease;
}

header nav .logo-nav:hover img {
  transform: scale(1.1);
  color: var(--secondary-color);
}

/* Menu mobile */

.hamburger {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid var(--secondary-color);
  cursor: pointer;
}

.hamburger::after,
.hamburger::before {
  content: " ";
  display: block;
  width: 35px;
  height: 3px;
  background-color: var(--secondary-color);
  margin-top: 8px;
  position: relative;
  transition: 0.3s;
}


/* Pre-loader */

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: white;
  display: flex;
}

@keyframes fall {
  0% {height: 0;}
  100% {height: 100%;}
}

.falling-rect {
  width: 100%;
  height: 0;
  animation: fall .5s ease-in-out forwards;
  background: black;
}

.falling-rect:nth-child(1){
  animation-delay: 0.6s;
}

.falling-rect:nth-child(2){
  animation-delay: 0.5s;
}

.falling-rect:nth-child(3){
  animation-delay: 0.4s;
}

.falling-rect:nth-child(4){
  animation-delay: 0.3s;
}

.falling-rect:nth-child(5){
  animation-delay: 0.2s;
}

.falling-rect:nth-child(6){
  animation-delay: 0.1s;
}

/* ScrollReveal*/

.card,
.title-text-sticky,
.paragraph-text-sticky{
  visibility: hidden;
}

/* Projects */

.projects .flex {
  justify-content: space-between;
  max-width: 1200px;
  height: 100%;
  margin: 16% auto 0;
  gap: 10%;
}

.text-sticky {
  height: 100%;
  position: sticky;
  top: 30%;
}

.text-sticky h2 {
  font-size: 50px;
  font-size: clamp(50px, 4vw, 70px);
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 10px;
}

.text-sticky > p {
  margin-bottom: 40px;
  font-size: 1.5rem;
  font-size: clamp(1rem, 1.7vw, 2rem);
  letter-spacing: 2px;
}

.btn-text-sticky {
  width: fit-content;
  margin-bottom: 3rem;
}

.btn.btn-text-sticky button {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  height: 70px;
}

.btn.btn-text-sticky button i {
  margin-left: 5px;
  margin-top: 3px;
  transform: rotate(45deg);
  font-size: 2rem;
  transition: var(--transition-duration);
}

.btn.btn-text-sticky button:hover i {
  transform: rotate(360deg);
}

.btn-social-media-text-sticky {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.btn-social-media-text-sticky .icon-wrapper i:hover {
  color: var(--primary-color);
  box-shadow: 0px 0px 15px #0056b3;
  transform: scale(1.1);
}

.btn.btn-social-media-text-sticky i {
  display: flex;
  border-radius: 50%;
  font-size: 2rem;
  color: var(--secondary-color);
  transition: var(--transition-duration);
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;
}

/* Cards */

.card {
  border: 2px solid white;
  width: clamp(380px, 30vw, 450px);
  height: clamp(380px, 30vw, 450px);
  margin-bottom: 70px;
  overflow: hidden;
  border-radius: 30px 70px 30px 70px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: 100% 0;
  transition: background 3s linear;
  cursor: pointer;
}

.card:hover {
  background-position: 100% 100%;
}

.card1 {
  background-image: url(../img/build-next.png);
}

.card2 {
  background-image: url(../img/luxe-wave.png);
}

.card3 {
  background-image: url(../img/primefit-academy.png);
}

.card4 {
  background-image: url(../img/clonenetflix.png);
}

.card5 {
  background-image: url(../img/coming-soon.png);
}
.card6 {
  background-image: url(../img/coming-soon.png);
}
.card7 {
  background-image: url(../img/coming-soon.png);
}
.card8 {
  background-image: url(../img/coming-soon.png);
}

/* Responsividade */

/* Tablets e Celulares */
@media (max-width: 1024px) {
  header {
    background-color: transparent;
  }

  .logo {
    display: none;
  }

  /* Menu mobile */

  .hamburger {
    display: block;
    position: fixed;
    top: 7%;
    right: 7%;
    z-index: 1;
  }

  .nav.active .hamburger {
    position: fixed;
    top: 7%;
    right: 7%;
    border-top-color: transparent;
  }

  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }

  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -11px;
  }

  .nav-list {
    position: fixed;
    top: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #1195dc, #1a1a1a);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    clip-path: circle(100px at 100% -17%);
    transition: 0.7s ease-in-out;
    pointer-events: none; /* para não deixar o usuário clicar em algo que não apareceu na tela*/
    gap: 20px;
  }

  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }

  .nav.active .nav-list a {
    opacity: 1;
  }

  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }

  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s /* 0.2s é o delay */;
  }

  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.4s;
  }
  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.6s;
  }

  /* Text Sticky */

  .projects .flex {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 30% auto 0;
    gap: 0;
  }

  .text-sticky {
    position: static;
    top: 0;
    text-align: center;
  }

  .text-sticky h2 {
    font-size: 50px;
    font-size: clamp(50px, 4vw, 70px);
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 5%;
  }

  .text-sticky > p {
    margin-bottom: 10%;
    font-size: clamp(1.5rem, 2vw, 2rem);
  }

  .btn-text-sticky {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10%;
    width: 100%;
  }

  .btn.btn-text-sticky button {
    margin: 0;
  }

  .btn.btn-text-sticky button i {
    font-size: 2.3rem;
    transition: all 0.4s ease;
  }

  .btn-social-media-text-sticky {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 60%;
    margin-bottom: 15%;
  }
}

/* Tablets */
@media (min-width: 600px) and (max-width: 1024px) {
  .projects .flex {
    margin: 15% auto 0;
  }

  .text-sticky h2 {
    font-size: clamp(60px, 4vw, 70px);
  }

  /* btn social media*/

  .btn.btn-social-media-text-sticky i {
    font-size: 2.3rem;
  }

  /* Cards */

  .cards-projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
  }

  .card {
    border: 2px solid white;
    width: clamp(300px, 40vw, 450px);
    height: clamp(370px, 40vw, 450px);
    border-radius: 20px 40px 20px 40px;
  }

  .card:hover {
    background-position: 100% 100%;
  }
}

/* Celulares */

@media (min-width: 320px) and (max-width: 600px) {
 
  .text-sticky h2 {
    font-size: clamp(38px, 4vw, 70px);
  }

  .text-sticky > p {
    font-size: clamp(1rem, 2vw, 2rem);
  }

  .btn.btn-text-sticky button {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    height: 70px;
  }

  .btn.btn-text-sticky button i {
    font-size: 2.3rem;
  }

  .btn-social-media-text-sticky {
    width: 70%;
  }

  /* cards */

  .card {
    border: 2px solid white;
    width: 300px;
    height: 330px;
    border-radius: 20px 40px 20px 40px;
  }
}

/* Celulares pequenos */

@media (max-width: 320px) {

  .text-sticky h2 {
    font-size: clamp(33px, 4vw, 70px);
  }

  .text-sticky > p {
    font-size: clamp(1rem, 2vw, 2rem);
  }

  .btn.btn-text-sticky button {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    height: 70px;
  }

  .btn.btn-text-sticky button i {
    font-size: 2rem;
  }

  .btn-social-media-text-sticky {
    width: 100%;
  }



  .card {
    border: 2px solid white;
    width: 250px;
    height: 270px;
    border-radius: 20px 40px 20px 40px;
  }
}

/* Modo paisagem opcional*/

@media (orientation: landscape) {
}
